<div class="index">
    <div class="tagline">
        Заходи, выбирай и разумно покупай
    </div>
    <div ng-repeat="(i, slide) in slides" ng-show="i == $slideIndex">
        <img ng-src="{{ slide.image }}" />
        <p>
            {{slide.name}} по уникальной цене {{slide.cost}}
        </p>
    </div>
</div>
