<div class="filter">
    <div>
        <label>Материал
            <select ng-model="search.material">
                <option ng-repeat="model in models | unique:'material'" value="{{model.material}}">{{model.material}}</option>
            </select>
        </label>

        <label>Цвет
            <select ng-model="search.color">
                <option ng-repeat="model in models | unique:'color'" value="{{model.color}}">{{model.color}}</option>
            </select>
        </label>

        <label>Минимум по цене
            <input type="number" ng-model="search.cost_min" min="0">
        </label>

        <label>Максимум по цене
            <input type="number" ng-model="search.cost_max" min="0">
        </label>

        <label>Минимум по свойству
            <input type="number" ng-model="search.properties_min" min="0">
        </label>

        <label>Максимум по свойству
            <input type="number" ng-model="search.properties_max" min="0">
        </label>
    </div>
</div>
<div class="results">
    <div ng-repeat="model in shop = (models | shopFilter:search)">
        <img ng-src="{{model.image}}" alt="Проблемы с изображением" />
        <div>
            <p>
                Название: <strong>{{model.name}}</strong>
            </p>
            <p>
                Материал: <strong>{{model.material}}</strong>
            </p>
            <p>
                Цвет: <strong>{{model.color}}</strong>
            </p>
            <p>
                Стоимость: <strong>{{model.cost}}</strong>
            </p>
            <p>
                Размерность: <strong>{{model.properties}} {{model.typename | propertiesFilter}}</strong>
            </p>
            <p>
                Номер: <strong>{{model.id}}</strong>
            </p>
        </div>
    </div>
    <div ng-hide="shop.length"> По выбранным параметрам нет результатов
    </div>
</div>
