html {
    font-size: 1.5rem;
}
body {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    background: rgb(152, 251, 152);
}
.tagline-top {
    color: rgb(75, 0, 130);
    font-size: 1.8rem;
    width: 100vw;
    text-align: center;
}
.menu {
    margin: 30px 0 30px 0;
}
.menu a {
    padding: 15px;
    text-decoration: none;
}
.angular {
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0 0 30px 0;
}
.index {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.tagline {
    color: rgb(75, 0, 130);
    font-size: 1.5rem;
    text-align: center;
}
.index p {
    text-align: center;
}
.filter {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin: 0 50px 0 0;
}
.filter > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 15px;
    border: 1px solid rgb(75, 0, 130);
    border-radius: 10px;
    background: rgb(245, 255, 250);
}
.results {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px solid black;
    padding: 15px;
    background: rgb(245, 255, 250);
    border: 1px solid rgb(75, 0, 130);
    border-radius: 20px;
}
.results > div {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}
.results img {
    margin: 0 40px 0 0;
    height: 350px;
    width: 350px;
}
.index img {
    max-width: 650px;
    max-height: 650px;
}
